$bg-339 = #339 
$bg-933 = #933
$bg-939 = #939
$bg-993 = #993
$bg-399 = #399
$bg-963 = #963

.custom-box
	font-family: $font-family-mono
	font-size: 15px
	border-radius: 2px
	font-weight: bold
	padding: 0 5px
	
.custom-box-339
	background-color: $bg-339
	
.custom-box-933
	background-color: $bg-933
	
.custom-box-939
	background-color: $bg-939
	
.custom-box-993
	background-color: $bg-993
	
.custom-box-399
	background-color: $bg-399
	
.custom-box-963
	background-color: $bg-963
	
.custom-flag-339
	position relative
	padding-left: 15px
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 10px
		height: 30px
		background-color: $bg-339
		
.custom-flag-933
	position relative
	padding-left: 15px
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 10px
		height: 30px
		background-color: $bg-933
		
.custom-flag-939
	position relative
	padding-left: 15px
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 10px
		height: 30px
		background-color: $bg-939
		
.custom-flag-993
	position relative
	padding-left: 15px
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 10px
		height: 30px
		background-color: $bg-993
		
.custom-flag-399
	position relative
	padding-left: 15px
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 10px
		height: 30px
		background-color: $bg-399

.custom-flag-963
	position relative
	padding-left: 15px
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 10px
		height: 30px
		background-color: $bg-963
		