.tags
    width 85%
    margin auto
    overflow hidden

  .tag-list
    display block
    height auto
    max-height 17.5em
    overflow hidden
    margin-bottom 1.5em

    .tag-title
      display block
      font-size 1.6em
      margin-bottom: .5em