.nav-list
  display block ;
  text-align center
  .page-number
  .space
    display inline-flex
    font-size 16px
    font-family math
    font-weight bolder
    color #e3b54c
    width 25px;

    background-image none

  .extend
  .prev
    width: 25px
    height: 25px
    display inline-flex
    margin: 0 10px
    background-image none
